/* Normal, standard links. */
a:link, a:visited {
    color: #ae23dc;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #cc3333;
    background-color: transparent;
    text-decoration: none;
}

/* Navigation links - for the link tree. */
.nav, .nav:link, .nav:visited {
    color: #fdb405;
    background-color: transparent;
    text-decoration: none;
}
a.nav:hover {
    font-weight: bold;
    color: #cc3333;
    background-color: transparent;
    text-decoration: underline;
}

/* Tables should show empty cells too. */
table {
    empty-cells: show;
}

/* Set a fontsize that will look the same in all browsers. */
body {
    font-size: 14px;
    font-family: Trebuchet MS, Verdana, Helvetica, sans-serif;
    background: url(http://gamma-world.eu/img/bg.gif) #000000; 
    margin: 2;
    padding: 0;
}

/* By default (td, body..) use Verdana in light gray. */
body, td, th {
    color: #CCCCCC;
    font-size: 13px;
}

/* Input boxes - just a bit smaller than normal so they align well. */
input, textarea {
    font-size: 9pt;
    color: #FFFFFF; /* Светлый цвет текста */
    font-family: verdana, sans-serif;
    background-color: #333333; /* Темный фон */
}

/* Checkboxes shouldn't have a background color. */
input.check {
    background-color: transparent;
}

/* Selects are a bit smaller, because it makes them look even better 8). */
select {
    font-size: 8pt;
    font-weight: normal;
    color: #FFFFFF; /* Светлый цвет текста */
    font-family: verdana, sans-serif;
    background-color: #333333; /* Темный фон */
}

/* Standard horizontal rule.. */
hr {
    color: #6394bd;
    background-color: transparent;
}

/* A quote, perhaps from another post. */
blockquote {
    color: #FFFFFF; /* Светлый цвет текста */
    background-color: #444444; /* Темный фон для цитат */
    border: 1px solid #CCCCCC; /* Светлый цвет границы */
    margin: 1px;
    padding: 1px;
    font-size: x-small;
}

/* A code block - maybe even PHP ;). */
code {
    color: #FFFFFF; /* Светлый цвет текста */
    background-color: #444444; /* Темный фон для кода */
    display: block;
    border: 1px solid #CCCCCC; /* Светлый цвет границы */
    margin: 1px auto;
    padding: 1px;
    font-size: x-small;
    line-height: 1.3em;
    overflow: auto;
    width: 99%;
    white-space: nowrap;
}

/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader {
    color: #FFFFFF; /* Светлый цвет текста */
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: x-small;
    line-height: 1.2em;
}

/* For links to change the code stuff... */
.codeoperation {
    font-weight: normal;
}

/* Generally, those [?] icons. */
.help {
    cursor: help;
    background-color: transparent;
}

/* /me uses this a lot. */
.meaction {
    color: red;
    background-color: transparent;
}

/* The main post box - this makes it as wide as possible. */
.editor {
    width: 100%;
    color: #FFFFFF; /* Светлый цвет текста */
    background-color: #333333; /* Темный фон для области ответа */
    border: 1px solid #CCCCCC; /* Светлый цвет границы */
    padding: 10px; /* Добавьте отступы для удобства */
}

/* Highlighted text - such as search results. */
.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}

/* A more discreet highlight colour, for selected membergroups etc. */
.highlight2 {
    background-color: #B3F4B0;
    color: black;
}

/* Обновление стилей для windowbg и windowbg2 */
.windowbg {
    color: #CCCCCC; /* Светлый цвет текста */
    background-color: #202020; /* Темный фон */
}

.windowbg2 {
    color: #CCCCCC; /* Светлый цвет текста */
    background-color: #333333; /* Темный фон */
}

/* Стили для core_posts */
.core_posts {
    color: #CCCCCC; /* Светлый цвет текста */
    background-color: #202020; /* Темный фон */
}

/* Стили для цитат внутри core_posts */
.core_posts blockquote {
    color: #FFFFFF; /* Светлый цвет текста для цитат */
    background-color: #444444; /* Темный фон для цитат */
    border: 1px solid #CCCCCC; /* Светлый цвет границы */
    margin: 1px;
    padding: 5px; /* Увеличьте отступы для удобства */
    font-size: small; /* Установите размер шрифта по вашему усмотрению */
}

.floatleft {
 color: white;
}

.list_posts, smalltext {
 color: white;
}

.windowbg3 {
    color: #CCCCCC;
    background-color: #202020;
}

/* Color for background of posts requiring approval */
.approvebg {
    color: #333333; /* Светлый цвет текста */
    background-color: #F6E0D4;
}

/* Color for background of *topics* requiring approval */
.approvetbg {
    color: #333333; /* Светлый цвет текста */
    background-color: #E4A17C;
}

/* Titles - such as table headers. */
.titlebg, tr.titlebg th, tr.titlebg td, .titlebg a:link, .titlebg a:visited, .titlebg2, tr.titlebg2 th, tr.titlebg2 td, .titlebg2 a:link, .titlebg2 a:visited {
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    background-color: #6e94b7;
}
.titlebg a:hover, .titlebg2 a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* The category headers, page indexes, and such things. */
.catbg, .catbg3, .catbg a:link, .catbg a:visited {
    font-weight: bold;
    background-color: #afc6db;
    background-image: url(images/catbg.gif);
    color: #fdb405;
    text-decoration: none;
}

/* The borders around things. */
.bordercolor {
    background-color: #6394bd;
}
.tborder {
    border: 1px solid #6394bd;
}

/* Default font sizes. */
.smalltext {
    font-size: 12px;
}
.normaltext {
    font-size: 13px;
}
.largetext {
    font-size: 14px;
}

/* No image should have a border when linked */
a img {
    border: 0;
}

/* Calendar colours for birthdays, events and holidays */
.birthday {
    color: #920AC4;
}

.event {
    color: #078907;
}

.holiday {
    color: #000080;
}

/* Colours for warnings */
.warn_mute {
    color: red;
}

.warn_moderate {
    color: orange;
}

.warn_watch {
    color: green;
}

/* The AJAX notifier */
#ajax_in_progress {
    background: #32CD32;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    padding: 3px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Styling for BBC tags */
.bbc_color a {
    color: inherit;
}

.bbc_img {
    border: 0;
}

.bbc_list {
    margin-top: 0;
    margin-bottom: 0;
}

.bbc_size {
    line-height: 1.3em;
}

.bbc_table {
    font: inherit;
    color: inherit;
}

.bbc_table td {
    font: inherit;
    color: inherit;
    vertical-align: top;
}

.bbc_u {
    text-decoration: underline;
}

/* Styling the admin section */
ol.search_results {
    margin-top: 0;
    padding-top: 0;
}
ol.search_results li {
    padding-top: 5px;
}

.button_strip_submit {
    background: transparent;
    color: white;
    text-transform: uppercase;
    vertical-align: top;
    text-decoration: none;
    font-size: 9px;
    font-family: tahoma, sans-serif;
    border: 0;
}

.button_strip_submit:hover {
    color: #e0e0ff;
}

.openid_login {
    background: white url(images/openid.gif) no-repeat;
}

/* New features settings screen */
.features {
    clear: both;
    border-bottom: solid 1px #e0e0e0;
}
.features_image {
    float: left;
    margin: 1em 2em 0.5em 1em;
}
.features_switch {
    margin: 0.2em 1em 1em 1em;
    float: right;
}
.features h4 {
    padding: 2em 0 0.5em 0.5em;
    margin: 0;
    font-size: 1.1em;
}
.features p {
    padding: 0 1em 1em 1em;
    margin: 0;
}

/* These are for the auto suggest floating div type thing. */
.auto_suggest_div {
    border: 1px solid black;
}
/* An auto suggest item */
.auto_suggest_item {
    background-color: #DDDDDD;
}

/* Hovered auto suggest item */
.auto_suggest_item_hover {
    background-color: #888888;
    cursor: pointer;
    color: #EEEEEE;
}

/* Sometimes there will be an error when you post */
.error {
    color: red;
}

/* Messages that somehow need to attract attention. */
.alert {
    color: red;
}

