/* Base styles for all browsers */
* {
    word-break: break-word; /* Modern browsers */
}

body {
    margin: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
	background-image: url('../imgs/bg.gif');
    font-size: 14px;
}

.header {
    font-size: 16px;
    background: #4A148C; /* Fallback for older browsers */
    background: linear-gradient(180deg, rgba(74,20,140,1) 0%, rgba(128,82,184,1) 100%); /* Modern browsers */
    color: white;
    padding: 8px;
    max-width: 680px;
    margin: auto;
    font-weight: bold;
    border: 2px ridge rgba(172,142,208,1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A148C', endColorstr='#8052B8'); /* Gradient for IE */
}

.page {
    max-width: 640px;
    border: 2px ridge rgb(223, 227, 240);
    padding: 8px;
    margin: auto;
}

.side {
    float: left;
    padding: 8px;
    min-width: 132px;
    max-width: 132px;
}

.side a {
    color: rgba(74,20,140,1);
    text-decoration: none;
    padding: 2px;
}

.side a:hover {
    background-color: rgb(224, 218, 232);
}

.header_link {
    float: right;
    color: #e3dae8;
    font-size: 12px;
    text-decoration: none;
    border-left: 2px ridge rgba(172,142,208,1);
    padding: 4px;
    font-weight: bold;
}

.header_link:hover {
    color: white;
    text-decoration: underline;
}

button {
    background: #4A148C;
    color: white;
    border: none;
    padding: 4px 8px;
}

button:hover {
    color: #E3DAE8;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.divplayer {
    margin: auto;
    max-width: 640px;
    border: 2px ridge rgb(223, 227, 240);
    padding: 8px;
}

/* Media queries for modern browsers */
@media screen and (max-width: 948px) {
    .header {
        border-radius: 0;
        max-width: 950px;
    }

    .divplayer {
        max-width: 100%;
    }

    .page {
        border-width: 0;
    }

    .side {
        display: none; /* Hide side for small screens */
    }

    #openmenu {
        display: block; /* Show menu for small screens */
    }
}

/* Fallback styles for older browsers */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ specific styles */
    .side {
        display: block; /* Ensure side is displayed in IE10+ */
    }
}
