/* Body styles */
body {
    margin: 0px;
    padding: 0px;
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 11px;
    clear: both;
}

audio {
    display: none;
}

h1,
h2,
h3,
h4 {
    text-shadow: rgba(150, 150, 150, 0.557) 3px 3px;
}

/* ++++ Elements ++++ */

#back {
    float: left;
    position: fixed;
    top: 20px;
    left: 20px;
}

}

/* +++ Helper classes +++ */

.center {
    text-align: center !important;
}

.preload {
    display: none !important;
}