<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{ALBUM_TITLE}</title>

        <meta name="viewport" content="width=device-width, initial-scale=0.7" />
        <meta name="description" content="{ALBUM_INFO}" />

        <link href="../gallery.css{ANTI_CACHE}" rel="stylesheet" type="text/css" media="all" />
        {CUSTOM_CSS}
    </head>
    <body background="http://gamma-world.eu/img/bg.gif">
        <center>
            <div id="shade"></div>
            <header>
                <a href="../index.html"><img src="http://gamma-world.eu/img/boat-15.gif" alt="Boat Icon" /></a>
                <h1>{ALBUM_TITLE}</h1>
                <p>{ALBUM_INFO}</p>
                <a href="../index.html">&#8592; Get back to index</a>
            </header>
            <section>
                <nav class="page-links">{PAGELINKS}</nav>
                <br><br>
                <section id="photos">{PHOTOS}</section>
                <br><br>
                <nav class="page-links">{PAGELINKS}</nav>
            </section>
            <footer>Updated: {LAST_UPDATE}</footer>
        </center>
    </body>
</html>
