#headerArea { margin-top: 10px; }
#navbar ul { list-style-type: none; padding: 0; margin: 0; }
#navbar li { display: inline; padding-right: 20px; }
#rightSidebar { float: right; margin-top: 50px; }
.box { border: 1px solid; padding: 10px; }

#click-sound {
display: none;
}

table td {
    text-align: center; /* Center text horizontally */
}

body {
    color: white;
}

a {
    color: white;
}

iframe {
    width: 100%;
    height: 700px;
    border: none;
}

#musicToggle {
cursor: pointer;
margin: 10px;
}
