<html lang="en">
    <head>
        <title>{GALLERY_TITLE}</title>

        <meta name="viewport" content="width=device-width, initial-scale=0.7" />
        <meta name="description" content="{GALLERY_INFO}" />

        <link href="gallery.css{ANTI_CACHE}" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body background="http://gamma-world.eu/img/bg.gif">
        <center>
            <div id="shade"></div>
            <header>
                <img src="http://gamma-world.eu/img/boat-15.gif" alt="Boat Icon" />
                <h1>{GALLERY_TITLE}</h1>
                <p>{GALLERY_INFO}</p>
            </header>
            <section>
                <nav id="index">
                    {ALBUMS}
                </nav>
            </section>
            <footer>Updated: {LAST_UPDATE}</footer>
        </center>
    </body>
</html>
